<div class="card">
  <div class="card-body">
    <div class="card-title h4">Employee list</div>

    <table *ngIf="data$ | async as data" class="table table-striped table-hover">
      <thead class="thead-dark ">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of data">
        <td>
          {{ employee.personalNumber }}
        </td>
        <td>
          <a routerLink="/employee-details/{{ employee.personalNumber }}">{{ employee.name }}</a>
        </td>
        <td>
          {{ employee.mail }}
        </td>
        <td>
          <div class="btn-group" role="group">
            <a routerLink="/employee-details/{{ employee.personalNumber }}" class="btn btn-sm btn-info">Details</a>
            <button class="btn btn-sm btn-danger" (click)="delete(employee.personalNumber)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

